{{holiday.title}}
<div class="panel-group" >
<div class="panel panel-default col-lg-6 col-md-6 ">


    <div class="panel-heading">{{holiday.name}}</div>
   <button ng-click="holiday.back()">back</button>
   
   
</div>
</div>

<!--<table class="container">
<table id="tblCRUD">
    <tbody>
        <tr><td><span>date</span></td><td><input type="text" ng-model="holiday.post.date"></td></tr>
        <tr><td><span>name</span></td><td><input type="text" ng-model="holiday.post.name"/></td></tr>
        <tr><td><span>observed</span></td><td><input type="text" readonly ng-model="next.post.observed"/></td></tr>
         <tr><td><span>public</span></td><td><input type="text" readonly ng-model="next.post.public"/></td></tr>
    </tbody>
</table>
   
</table>-->
